extends base
block append styles
  style.
    .title {font-size: 1.7em !important;}
    h4 {
      text-align: center;
      margin: 40px 0 !important;
    }
    p {
      padding: 0.2em 0;
    }
block content
  h3.title A Critical Review of Patrick Miller’s American Hell Snacks
  h3.author !{steve}
  include:markdown-it assets/text/a-critical-review.md
block footer
  .left !{star}
  .right !{wawro}