include variables

doctype html
html(lang='en')
  head
    include gtag.txt
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title dreadzine #2
    block styles
      link(rel='stylesheet' href='default.css')
      style @import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Playfair+Display+SC:400')
  body
    block music
      include smcplayer.txt
    block header
      nav.dznav
        a(href='table-of-contents.html') #[img(src='assets/image/dzmark.png').logo]
    .container
      block content
      footer
        hr
        block footer