extends base
block content
  h3.title Designing for Humans
  h3.author: a(href='http://www.twitter.com/pattheflip') Patrick Miller
  include:markdown-it assets/text/designing-for-humans.md
block footer
  .left !{dead}
  .right !{star}