extends base
block append styles
  style.
    .title {font-size: 1.7em !important;}
block content
  h3.title Dread Beneath the Kaleidoscope Sky
  h3.author !{mfolk}
  include:markdown-it assets/text/dread-beneath-the-kaleidoscope-sky.md
block footer
  .left !{iphone}
  .right !{dead}