extend base

block append styles
  style.
    body {
      color: #cb9 !important;
      background-color: rgb(18,14,14);
    }
    .container {
      width: 832px;
      margin-top: 60px !important;
    }
    hr {
      //- display: none !important;
      color: rgb(167,129,93) !important;
      background-color: rgb(167,129,93) !important;
    }
    a {color: rgb(167,129,93) !important;}
    h4, p {margin-left: 2%;}
    .left {left: 2%;}
    .right {right: 2%;}
block content
  img(src='assets/image/andrea-judgement_1104.gif')
  h4 Judgement
  p Andrea Mina
block footer
  .left !{peach}
  .right !{davin}
