extend base
block append styles
  style.
    body {
      background-size: cover !important;
      image-rendering: pixelated !important;
      background-repeat: no-repeat !important;
      background-attachment: fixed !important; /*cropping, no tiling*/
    }
    nav {background-color: transparent !important;}
    .logo {
      -webkit-filter: invert(1);
      filter: invert(1);
    }
    hr {display: none !important;}
    footer {
      //- display: none !important;
      margin-top: 50% !important;
    }
    //- .container {height: 1000px !important;}
block music
block content
  include assets/twine/shayateen/index.html