- var intro  = "<a href='intro.html'>Introduction</a>";
- var outro  = "<a href='colophon.html'>Colophon</a>";

- var review = "<a href='a-critical-review.html'>A Critical Review of Patrick Miller’s American Hell Snacks</a>";
- var humans = "<a href='designing-for-humans.html'>Designing for Humans</a>";
- var sky    = "<a href='dread-beneath-the-kaleidoscope-sky.html'>Dread Beneath the Kaleidoscope Sky</a>";
- var final  = "<a href='finally.html'>Finally</a>";
- var peach  = "<a href='peachwine.html'>Peachwine</a>";
- var six    = "<a href='six-words-for-the-end-of-the-world.html'>Six Words for the End of the World</a>";
- var leaves = "<a href='the-turning-of-the-leaves.html'>The Turning of the Leaves</a>";
- var judge  = "<a href='judgement.html'>Judgement</a>";
- var dead   = "<a href='theyre-all-dead.html'>They’re All Dead</a>";
- var choke  = "<a href='olympia.html'>Olympia</a>";
- var avner  = "<a href='avner-and-odette.html'>Avner &amp; Odette</a>";
- var hannah = "<a href='olympia.html'>Ssssssssssssomething</a>";
- var star   = "<a href='stardust.html'>Stardust</a>";
- var turtle = "<a href='turtleback.html'>Turtleback</a>";
- var satan  = "<a href='shayateen.html'>Shayateen</a>";
- var iphone = "<a href='ipocalypse.html'>iPocalypse</a>";
- var davin  = "<a href='preservation.html'>Preservation</a>";
- var wawro  = "<a href='judgment-day.html'>Judgment Day</a>";

- var jared  = "<a href='https://twitter.com/notquitefrodo'>Jared Rosen</a>";
- var pavlas = "<a href='https://twitter.com/onidavin'>Davin Pavlas</a>";
- var sydney = "<a href='https://twitter.com/sydney_s_kim'>Sydney S. Kim</a>";
- var mfolk  = "<a href='https://twitter.com/maxfolkmax'>Max Folkman</a>";
- var dave   = "<a href='https://twitter.com/thatdavejordan'>Dave Jordan</a>";
- var steve  = "<a href='https://twitter.com/jawsthemusical_'>Steve Jaworski</a>";
- var pat    = "<a href='https://twitter.com/pattheflip'>Patrick Miller</a>";
- var starsky = "<a href='https://twitter.com/starrrsky'>Matt Starsoneck</a>";
- var alexwa = "<a href='https://twitter.com/awawro'>Alex Wawro</a>";
- var nfolk  = "<a href='https://twitter.com/nickfolkman'>Nick Folkman</a>";
- var irene  = "<a href='https://koh.money'>Irene Koh</a>";
- var vince  = "<a href='https://twitter.com/sklathill'>Vincent Diamante</a>";